opencv-python
mediapipe
hsemotion-onnx
numpy
fastapi
uvicorn
python-multipart
timm
torch
torchvision
torchaudio
librosa
parselmouth
transformers
soundfile
pydub
ffmpeg-python
openai-whisper
scipy
matplotlib
